{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/bootstrap.css' %}"
/>
<link rel="stylesheet" href="{% static 'style.css' %}" />
<html>
  <body class="page-top">
    <header class="header">
      <a href="/" class="logo">Audio Synchronization</a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"
        ><span class="navicon"></span
      ></label>
      <ul class="menu">
        <li><a href="/" class="link link-theme link-arrow">HOME</a></li>
        <li><a href="/about" class="link link-theme link-arrow">ABOUT</a></li>
        <li><a href="/result" class="link link-theme link-arrow">Result</a></li>
      </ul>
    </header>

    <div>
      <div id="main" class="main">
        <section class="intro">
          <!-- <article class="container">
            <h1>Front-end <strong>Development</strong></h1>
            <h2>
              Wanna craft the beautiful, responsive digital experiences you
              dream of ? We are here for you.
            </h2>
            <p>
              <a
                href=".footer"
                class="link link-theme link-arrow"
                title="Let’s Build Something Great"
                >LET’S BUILD SOMETHING GREAT</a
              >
            </p>
          </article> -->
        </section>
        <!-- /intro -->

        <section class="work">
          <article class="container" id="one">
            
              <div class="card">
                  <div class="card-body d-flex justify-content-center align-items-center">
                      <!-- Form register -->
                      <form action="sync" method="POST">
                        {% csrf_token %}
                          <h2 class="text-center font-up font-bold deep-orange-text py-4">Click on the "Choose File" button to upload a file:</h2>
                          <div class="md-form" style="font-weight: bolder;">
                              <i class="fa fa-user prefix grey-text"></i>
                              <label>Select File 1</label>
                          </div>
                          <div class="md-form" >
                            <i class="fa fa-user prefix grey-text"></i>
                            <label>Title:</label>
                            <input type="text" name="title" placeholder="Enter Video Title here" style="margin-left: 100;"><br>
                          </div>
                          <div class="md-form" >
                            <i class="fa fa-user prefix grey-text"></i>
                            <label>Video:</label>
                            <input type="file" class="btn btn-default" id="myFile1" name="audio1" accept="video/*" style="margin-left: 74;"/>
                          </div>
                          <div style="margin: 20;">
                            
                          </div>
                          <div class="md-form" style="font-weight: bolder;">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <label >Select File 2</label>
                          </div>
                          <div class="md-form" >
                              <i class="fa fa-envelope prefix grey-text"></i>
                              <label >Title:</label>
                              <input type="text" name="title" placeholder="Enter Video Title here" style="margin-left: 100;"><br>
                          </div>
                          <div class="md-form" >
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <label >Video:</label>
                            <input class="btn btn-default" type="file" id="myFile2" name="audio2" accept="video/*" style="margin-left: 74;" />
                          </div>
                          <div style="margin: 20;">
                            
                          </div>
                          <div class="text-center">
                              <button type="submit" class="btn btn-warning">Submit</button>
                          </div>
                      </form>
                      <!-- Form register -->
                  </div>
              </div>
          
          <!-- Grid column -->
      </div>
          </article>
        </section>
        <!-- /work -->

        <footer class="footer">
          <div class="container">
            <hr />
            <article class="foot-content-left">
              <ul>
                &copy;2021
              </ul>
            </article>

            <!-- <article class="foot-content">
                <ul>
                  <li><a href="pixelstrecher@gmail.com">pixelstrecher@gmail.com</a></li>
                  <li class="social"><a href="https://www.facebook.com/">Facebook</a></li>
                  <li class="social"><a href="https://twitter.com/">Twitter</a></li>
                  <li class="social"><a href="https://www.linkedin.com/company/">LinkedIn</a></li>
                </ul>
              </article> -->
          </div>
        </footer>
        <!-- /footer -->
      </div>
    </div>
    <!-- end div container -->
  </body>
</html>
